/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	background: white;
}

#content {
	max-width: 60em;
	margin: auto
}

.list-group-item {
	min-height: 2.5rem;
}

li a:hover {
	text-decoration: none;
}

p {
	margin: 0.5em 0 0.5em 0;
}

.container p {
	text-align: center;
	padding: 0;
}

.container h1 {
	margin: 1em auto 0.5em;
}

.poll-option {
	display: inline-block;
}

.poll-link {
	min-height: 38px;
}

.poll-delete-btn {
	position: absolute;
	right: 0.5rem;
	top: 3px;
	height: 32px;
	font-size: 0.8rem;
}

.poll-q {
	word-wrap: break-word;
}

/****** Login Styling ******/

.login {
	margin: 2em auto 0 auto;
	text-align: center;
	width: 100%;
	max-width: 35rem;
}

#login-right, #login-left {
	width: 50%;
	min-width: 15em;
	margin: 1em auto
}

#login-btn {
	width: 15rem;
	padding: 7px 5px;
	margin: 0.75rem;
}

.btn p {
	margin: 5px 0 0 0;
	padding: 0;
}

i {
	padding-top: 20px;
}

.btn-img {
	float: left;
	margin-left: 10px;
	font-size: 32px;
	height: 32px;
	width: 32px;
	padding: 0;
}

/***** Form Styling *****/

#newPoll .btn i {
	font-size: 1.2rem;
	max-height: 1.2rem;
	margin: 0 0.5rem 0 0;
	position: relative;
	top: 0.125rem;
}

label i::before {
	font-size: 0.9rem;
	margin: 0 0 0 1rem;
	max-height: 1rem;
	cursor: pointer;
}

[v-cloak] { display: none; }

/******* Poll Styling ******/

#myChart {
	width: 300px;
	max-width: 100%;
	height: 300px;
	margin: auto;
}